.carousel-item img {
    width: 27%;
}

.carousel-indicators button {
    background-color: black !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}