.carousel-item img {
    width: calc(100% / 3 - 3px);
    height: 10rem;
    object-fit: cover;
}

.carousel-indicators button {
    background-color: black !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}
